.navbar-nav {
  --bs-nav-link-color: white !important;
}

html {
  color: white !important;
}

body {
  font-family: sans-serif !important;
}

input:focus,
select:focus,
.page-link {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.dt-length {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1em;
}

.dt-search {
  display: flex;
  flex-direction: column;
}

#dt-search-0 {
  margin-left: 0 !important;
}

div.row:nth-child(3) > div:nth-child(1) {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.dt-paging-button {
  font-weight: bold !important;
}

.dt-paging-button.current {
  background-color: #373d43 !important;
}

.fixedHeader-floating {
  margin-top: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.enfp {
  height: 450px;
  max-width: 90vw;
  display: block;
}

@media (min-width: 768px) {
  .dt-length {
    margin-bottom: 0;
  }
}
