<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="CCBot" content="nofollow">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noimageindex, nocache, notranslate">
  <meta name="author" content="Zevhys">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="CRUD Product Management">
  <meta property="og:description"
    content="Manage products with CRUD operations such as adding, deleting, and editing product details like name, stock, price, and image.">
  <meta property="og:image" content="">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="CRUD Product Management">
  <meta property="twitter:description"
    content="Manage products with CRUD operations such as adding, deleting, and editing product details like name, stock, price, and image.">
  <meta property="twitter:image" content="">

  <link rel="stylesheet" href="../css/style.css">

  <title>
    <%= title %>
  </title>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/dataTables.min.js"></script>
  <script src="/js/dataTables.bootstrap5.min.js"></script>

  <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/all.min.css">

  <link rel="stylesheet" href="/js/photoswipe.css">

</head>

<body data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fs-5">
    <div class="container">
      <a href="https://github.com/Zevhys" target="_blank" rel="noopener noreferrer" title="Github"
        class="navbar-brand">Zevhys</a>
      <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="#my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/add">Add</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>